<div class="page-header">
  <h1>Facebook <small>and more</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Actions <div class="circle pull-right" ng-style="{ background: vm.session.loggedIn ? 'green':'red'}"></div> <span class="pull-right">Logged:</span>
  </div>
  <div class="panel-body">
    <a class="btn btn-default" ng-click="vm.login()" ng-disabled="vm.session.loggedIn">sign in</a>
    <a class="btn btn-default" ng-click="vm.logout()" ng-disabled="!vm.session.loggedIn">sign out</a>
  </div>
</div>

<div class="well">
  <h4 ng-if="!vm.session.loggedIn">Sign in to view your photos</h4>
  <div ng-if="!vm.albums.data && vm.session.loggedIn">
    <span
      us-spinner
      class="es-spinner-element"
      spinner-start-active="true">
    </span>
    <h3>Loading data..</h3>
  </div>
  <div ng-if="vm.albums.data">
    <h3 ng-if="vm.session.loggedIn">Album</h3>
    <h5 ng-if="vm.session.loggedIn && !vm.albums.data.length">There is no publicly available album</h5>
    <div class="row">
      <div ng-repeat="al in vm.albums.data">
        <es-album-thumbnail album="al"></es-album-thumbnail>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/footer.html'"></div>
