<div class="modal-body">
  <div class="pull-right" ng-click="vm.close()">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="col-xs-12 col-md-8">
    <img style="width: 100%;" ng-src="{{vm.photo.images[0].source}}" />
  </div>
  <div class="col-xs-6 col-md-4">
    <div>
      <img ng-src="{{vm.user.picture.url}}" />
      <b>{{vm.user.name}}</b>
    </div>
    <br>
    <div>
      <p>Likes: {{vm.photo.likes.data.length || '0'}}</p>
    </div>
    <div>
      <dl ng-repeat="c in vm.photo.comments.data">
        <dt>{{c.from.name}}</dt>
        <dd>
          &nbsp; {{c.message}}
          <small>
            <span class="pull-right">
              <img src="images/like.png" style="width: 35%; height: 35%;"/>
              {{c.like_count || '0'}}
            </span>
          </small>
        </dd>
      </dl>
    </div>
  </div>
</div>
